	<a href="/"><h1>paracode</h1></a>
	<form class="form-search">
		<h3>search</h3> <input name=q type=text></input>
	</form>

	<p>
	<% if(topfiles) { %>
		<table class="table table-condensed">
			<tr>
				<th>time</th>
				<th>last modified</th>
			</tr>
		<%topfiles.forEach(function(record) {
			var dobj = new Date(record.fdate/1000);
			var dtime = new Date().getTime() - record.fdate > 1000*60*60*24 ? obj.toLocaleDateString() : dobj.toLocaleTimeString(); 
		%>
			<tr>
				<td title="<%= dobj.toLocaleString() %>"><%= dtime %></td>
				<td><a href="?q=<%= record.file  %>"><%= record.file %></a></td>
			</tr>
		<%});%>
		</table>
	<%}%>




	<% if(records) { %>
		<table class="table table-condensed">
			<tr>
				<th>time</th>
				<th>file</th>
				<th>program (editor / browser)</th>
				<th>url</th>
			</tr>
		<%records.forEach(function(record) {
			var dobj = new Date(record.hdate/1000);
			var dtime = new Date().getTime() - record.hdate > 1000*60*60*24 ? obj.toLocaleDateString() : dobj.toLocaleTimeString(); 
		%>
			<tr>
				<td title="<%= dobj.toLocaleString() %>"><%= dtime %></td>
				<td><%= record.file %></td>
				<td><%= record.fexec %> / <%= record.hexec %></td>
				<td><a href="http://<%= record.host + record.path %>"><%
					var url = record.host + record.path;
					if(url.length > 100) {
						url = url.substring(0,97);
						url += "...";
					}
				%><%= url %></a></td>
			</tr>

		<%});%>
		</table>
	<%}%>
	</p>

